@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --background: #0c0d10;
  --foreground: #dadada;
  --highlight: #ffffff;
  --link: #d10000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0d10;
    --foreground: #dadada;
    --highlight: #ffffff;
    --link: #d10000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1.0;
  text-align: center;
  padding: 20px;
  -webkit-text-size-adjust: 140%;
}

a {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.terminal-box h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}


.text-terminalRed {
  color: var(--highlight);
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

.nav-link {
  color: var(--highlight);
  transition: color 0.2s ease-in-out;
}

.body-link {
  color: var(--link);
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: black;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.body-link:hover {
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

h1 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  color: #FFFFFF;
  font-size: 1.75rem;
  margin-bottom: 8px;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.terminal-box {
  border: 1px solid var(--foreground);
  padding: 25px;
  text-align: left;
  margin: 30px 0;
}

.font-bold {
  color: white;
  font-weight: bold;
}

.navbar-icon-glow {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
}
